.header {

  &-top {
    padding: 8px 0 5px 0;
    background: @one-color;
    position: relative;

    & .navbar-brand {

      & img {
        width: 100%;
      }
    }

    & .tel {
      font: 18px/24px 'PT Sans';
      font-weight: 400;
    }

    & .mail {
      font: 16px/24px 'PT Sans';
      font-weight: 400;
    }

    & .pop {
      background: @two-color;
      color: #fff;
      font: 16px/16px 'PT Sans';
      width: 100%;
      padding: 12px 10px;
      font-weight: 400;

      @media screen and @breakpoint-sm {
        width: max-content;
        margin: 0 auto;
      }
    }
  }

  &-bottom {
    background: transparent;

    & .nav {

      &bar {
        padding: 9px 10px;
        background: #ebebeb !important;
        width: 100%;
        justify-content: space-between;

        &:after, &:before {
          content: '';
          position: absolute;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;

          @media screen and (max-width: 1252px) {
            display: none;
          }
        }

        &:after {
          right: -55px;
          border-width: 52px 56px 0 0;
          border-color: #ebebeb transparent transparent transparent;
        }

        &:before {
          left: -55px;
          border-width: 0 56px 52px 0;
          border-color: transparent #ebebeb transparent transparent;
        }
      }

      &-item {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &.show {

          & .nav-link {
            background: transparent;
            color: @one-color;

            & svg {
              transform: rotate(180deg);
            }
          }
        }
      }

      &-link {
        text-transform: uppercase;
        font: 18px/22px 'PT Sans';
        color: @one-color !important;
        font-weight: 400;
        display: flex;
        align-items: center;
        padding: 6px;
      }
    }

    & .dropdown {

      &-menu {
        margin: 0;
        top: 43px;
        border: none;
        border-radius: inherit;
        width: max-content;
        background: #fff;

        @media screen and @breakpoint-md {
          width: 100%;
          margin: 0 0 20px 0;
          text-align: center;
        }
      }

      &-item {
        font: 16px/22px 'PT Sans';
        color: #1e1e1e;
        font-weight: 400;

        &.title {
          color: @two-color;
          font-weight: 700;
        }

        &:hover {
          color: #656565;
          background: transparent;
        }
      }
    }
  }

}

.page {

  &-index {

    & .section {

      &-slider {
        background: url("@{img}/slider-bg.jpg") no-repeat center bottom;
        background-size: cover;
        min-height: 480px;
        display: flex;
        align-items: center;
        margin: -52px 0 0 0;

        .content {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        & .title {
          font: 32px/32px 'PT Sans';
          color: #fff;
          margin: 0 0 20px 0;
          font-weight: 400;

          & span {
            display: block;
            font: 28px/32px 'PT Sans';
          }
        }

        & .text {
          font: 18px/24px 'PT Sans';
          color: #fff;
          margin: 0 0 25px 0;
        }

        & .button {
          background: @two-color;
          color: #fff;
          font: 16px/16px 'PT Sans';
          padding: 12px 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: max-content;
          margin: 0 auto;
        }


        & .slick-prev, .slick-next {
          top: auto;
          bottom: -66px;
          left: 50%;
          height: 30px;
          width: 20px;

          &:before {
            content: url("@{img}/chevron.svg");
          }
        }

        & .slick-prev {
          transform: translateX(-35px) rotate(180deg);
        }

        & .slick-next {
          transform: translateX(15px);
        }
      }

      &-service {

        & .service {
          padding: 20px 0 0 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0 -5px;

          &-one {
            text-decoration: none;
            text-align: center;
            margin: 0 0 20px 0;
            transition: all .2s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .title {
              font: 18px/18px 'PT Sans';
              color: @one-color;
              font-weight: 600;
              margin: 0 0 20px 0;
            }

            & .img {
              position: relative;
              width: 100%;
              height: 229px;
              border: 1px solid @fore-color;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 15px;

              & img {
                width: 100%;
                height: 100%;
                object-fit: none;
              }

              &:before {
                display: block;
                position: absolute;
                transform: translateX(-50%);
                top: -1px;
                left: 50%;
                content: "";
                width: 98px;
                height: 6px;
                background: @two-color;
              }
            }

            &:hover {

              & .title {
                color: @three-color;
              }

              & .img {
                border: 1px solid @three-color;
              }
            }
          }
        }
      }

      &-advanced {
        background: url("@{img}/prey-bg.png") no-repeat center;
        padding: 37px 0 90px 0;

        & .wrap {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 0 20px 0;
        }

        & .text {
          font: 20px/22px 'PT Sans';
          font-weight: 600;
          color: @one-color;
          text-align: center;
        }
      }
    }

  }

  &-about {

    & .section {

      &-about {
        padding: 15px 0 44px 0;
      }

      &-principles {
        background: url("@{img}/prey-bg.png") no-repeat center;

        & .title {

          &_2 {
            text-transform: inherit;
            color: @three-color;
            font: 22px/32px 'PT Sans';
            font-weight: 600;
            margin: 0 0 20px 0;
          }

          &_3 {
            text-align: center;
            color: @two-color;
            font: 60px/60px 'PT Sans';
            font-weight: 700;
            margin: 0 0 10px 0;
          }

          &_4 {
            text-align: center;
            color: @one-color;
            font: 16px/22px 'PT Sans';
            font-weight: 600;
            margin: 0;
          }
        }

        & .text {
          text-align: center;
          color: @one-color;
          font: 16px/22px 'PT Sans';
          font-weight: 400;
          margin: 0;
        }
      }

    }

  }

  &-products {

    & .section {

      &-product {
        padding: 15px 0 44px 0;
      }
    }

  }

  &-info {

    & .section {

      &-info {
        padding: 15px 0 44px 0;

        & .page {

          &-item {
            margin: 0 2px 0 0;
            border-radius: 0;
          }

          &-link {
            background-color: #ebebeb;
            border: none;
            color: @one-color;
            font: 16px/22px 'PT Sans';
            font-weight: 600;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
              fill: @one-color;
            }

            &.active {
              background-color: #102a83;
              color: #fff;
              cursor: default;
            }
          }
        }
      }
    }
  }

  &-distributors {

    & .section {

      &-advanced {
        margin: 0 0 20px 0;

        & .title {

          &_2 {
            text-transform: inherit;
            color: @three-color;
            font: 22px/32px 'PT Sans';
            font-weight: 600;
            margin: 0 0 20px 0;
          }
        }

        & .item {
          display: flex;
          align-items: center;
          padding: 4px 9px;
          box-shadow: 0 0 27px rgba(1, 1, 2, .1);
          margin: 0 0 16px 0;
        }

        & .text {
          color: #0f0f0f;
          font: 16px/18px 'PT Sans';
          font-weight: 400;
          margin: 0;
        }
      }
    }
  }

}

.section {

  &-breadcrumbs {
    padding: 25px 0 0 0;

    & a {
      color: @one-color;
      font: 16px/24px 'PT Sans';

      &.active {
        color: @two-color;
        text-decoration: none;
        cursor: default;
      }
    }
  }

  &-about {
    padding: 44px 0;
    margin: 0 0 50px 0;

    & .block {
      display: flex;
      align-items: center;
      position: relative;

      @media screen and @breakpoint-md {
        flex-direction: column;
      }

      & .img {
        position: absolute;
        z-index: -1;

        @media screen and @breakpoint-md {
          position: static;
        }

        & img {
          width: 100%;
        }
      }

      &-text {
        padding: 22px 22px 22px 400px;
        min-height: 300px;
        margin: 0 0 0 40px;
        box-shadow: 0 0 27px rgba(1, 1, 2, .1);
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media screen and @breakpoint-md {
          padding: 22px;
          margin: 0;
        }

        & .text {
          font: 16px/18px 'PT Sans';
          font-weight: 600;
          color: @one-color;
        }
      }
    }
  }

  &-partners {
    padding: 56px 0 0 0;
    background: url("@{img}/partner-bg.jpg") no-repeat;
    background-size: cover;

    & .partners-slick {
      width: 100%;

      & .slick-track {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      & .slick-slide {
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0 10px;
        }
      }

      & .img {
        margin: 0 0 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      & img {
        width: 100%;
      }
    }

    & .slick-prev, .slick-next {
      top: -74px;
      background: @three-color;
      height: 40px;
      width: 40px;

      &:before {
        display: block;
        content: url("@{img}/chevron-partner.svg");
      }
    }

    & .slick-prev {
      left: 0;

      &:before {
        transform: rotate(180deg);
      }
    }

    & .slick-next {
      right: 0;
    }
  }

  &-product {
    padding: 54px 0;

    & .product {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -10px;

      &-one {
        margin: 0 5px 20px 5px;
        text-decoration: none;
        width: 19%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and @breakpoint-lg {
          width: 30%;
        }

        @media screen and @breakpoint-md {
          width: 40%;
        }

        @media screen and @breakpoint-xs {
          width: 80%;
        }

        & .title {
          font: 18px/18px 'PT Sans';
          color: @one-color;
          font-weight: 600;
          margin: 0 0 20px 0;
        }

        & .img {
          position: relative;
          width: 100%;
          height: 229px;
          border: 1px solid @fore-color;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px;

          & img {
            object-fit: contain;
          }

          &:before {
            display: block;
            position: absolute;
            transform: translateX(-50%);
            top: -1px;
            left: 50%;
            content: "";
            width: 98px;
            height: 6px;
            background: @two-color;
          }
        }

        &:hover {

          & .title {
            color: @three-color;
          }

          & .img {
            border: 1px solid @three-color;
          }
        }
      }
    }
  }

  &-info {
    padding: 56px 0 22px 0;

    & .btn_all {
      background: @two-color;
      color: #fff;
      font: 16px/16px 'PT Sans';
      display: block;
      text-align: center;
      padding: 12px 35px;
      font-weight: 400;

      @media screen and @breakpoint-xs {
        width: max-content;
        margin: 0 auto;
      }
    }

    & .news {
      text-decoration: none;
      margin: 0 0 30px 0;
      display: flex;
      justify-content: center;
      position: relative;
      min-height: 200px;
      height: 100%;

      @media screen and @breakpoint-xs {
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto 30px;
      }

      & img {
        width: 225px;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0 50%);

        @media screen and @breakpoint-xs {
          clip-path: none;
          width: 100%;
        }
      }

      & .text {
        border: 1px solid #f8f8f8;
        background: #f8f8f8;
        padding: 20px;

        &-content {
          color: #0f0f0f;
          font: 16px/18px 'PT Sans';
          font-weight: 400;
        }
      }

      & .date {
        color: @five-color;
        font: 16px/16px 'PT Sans';
        font-weight: 400;
        margin: 0 0 10px 0;
      }

      & .title {
        color: #0f0f0f;
        font: 18px/22px 'PT Sans';
        font-weight: 400;
      }

      & .link {
        color: @three-color;
        font: 18px/22px 'PT Sans';
        font-weight: 400;
      }

      &:hover {

        & .text {
          background: transparent;
        }
      }
    }
  }

  &-form {
    background: @one-color url("@{img}/form-bg.jpg") no-repeat center top;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 57px 0;

    & .label, .input {
      width: 100%;
      background: #fff;
      padding: 8px;

      &::placeholder {
        color: @one-color;
        font: 16px/22px 'PT Sans';
        font-weight: 400;
      }
    }

    & .input {
      border: 1px solid @fore-color;

      &:focus {
        border: 1px solid @three-color;
      }
    }

    & .textarea {
      height: 125px;
    }

    & .text {
      color: #fff;
      font: 14px/18px 'PT Sans';
      font-weight: 400;
      margin: 0;
    }

    & .form_btn {
      background: @two-color;
      color: #fff;
      font: 16px/16px 'PT Sans';
      width: 100%;
      padding: 24px 34px;
      font-weight: 400;

      @media screen and @breakpoint-sm {
        width: max-content;
      }
    }
  }

}

.footer {
  background: @one-color;
  padding: 20px 0;

  & * {
    color: #fff;
    text-decoration: none !important;
  }

  & .title {
    font: 18px/26px 'PT Sans';
    font-weight: 400;
    text-transform: uppercase;
  }

  & .list {

    & li:first-child a {
      font-weight: 700;
    }
  }

  & a {
    &:hover {
      color: @seven-color;

      & * {
        color: @seven-color;
      }
    }
  }

  & .cor {
    font: 18px/28px 'Corbel';
    text-align: center;
  }

  & .wps {
    font: 16px/28px 'Corbel';
  }

}