//Загальні стилі

@font-face {
  font-family: "Corbel";
  src: url("@{font}/Corbel-reg.woff") format("woff2"),
  url("@{font}/Corbel-reg.woff") format("woff");
}

* {
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .2s;
  font-family: 'PT Sans', sans-serif;
}

body {
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

.title_2 {
  font: 28px/32px 'PT Sans';
  color: @three-color;
  font-weight: 400;
  text-transform: uppercase;

  //@media @breakpoint-md {
  //  font-size: 35px;
  //}
  //
  //@media @breakpoint-sm {
  //  font-size: 30px;
  //}
}